<div data-role="collapsible-set" data-theme="b" data-mini="true" class="ui-collapsible-set">
      <div data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-collapsible-collapsed">
         <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-mini ui-btn-icon-left ui-corner-top ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="plus" data-iconpos="left" data-theme="b" data-mini="true"><span class="ui-btn-inner ui-corner-top"><span class="ui-btn-text">Section 1<span class="ui-collapsible-heading-status"> click to expand contents</span>
      </span><span class="ui-icon ui-icon-shadow ui-icon-plus">&nbsp;</span></span></a></h3>
      <div class="ui-collapsible-content ui-collapsible-content-collapsed" aria-hidden="true">        
         <p>Collapsible content</p>
      </div>
   </div>      

   <div data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-collapsible-collapsed">
         <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-mini ui-btn-icon-left ui-corner-top ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="plus" data-iconpos="left" data-theme="b" data-mini="true"><span class="ui-btn-inner ui-corner-top"><span class="ui-btn-text">Section 1<span class="ui-collapsible-heading-status"> click to expand contents</span>
      </span><span class="ui-icon ui-icon-shadow ui-icon-plus">&nbsp;</span></span></a></h3>
      <div class="ui-collapsible-content ui-collapsible-content-collapsed" aria-hidden="true">        
         <p>Collapsible content</p>
      </div>
   </dsiv>      
</div>