<div data-role="collapsible-set" data-content-theme="b"> 
  <% _.each(words, function(word, key){ %>         
    <div data-role="collapsible" data-collapsed="true" rel="<%= word.get("en_id") %>">
        <h3><%= word.get("word_from") %></h3>
        <div class="ui-collapsible-content" aria-hidden="false">            
             <input name="editword" id="editword" rel="<%= word.get("ru_id") %>" placeholder="New word" value="<%= word.get("word_to") %>" type="text" data="true">                                                                                                    
        </div>
        <div class="ui-collapsible-content" aria-hidden="false">
             <a data-role="button" class="delete-word-button" href="" rel="<%= word.get("ru_id") %>_<%= word.get("en_id") %>">Delete</a>
        </div>
    </div>    
 <% }); %>
</div>