    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow list-last-words">
                <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a lang_from">Occasionally</div><div class="ui-block-b lang_to">Иногда</div>
                    </fieldset>
                </li>
                <li class="ui-li ui-li-static ui-btn-up-c">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a lang_from">Car</div><div class="ui-block-b lang_to">Машина</div>
                    </fieldset>
                 </li>
                <li class="ui-li ui-li-static ui-btn-up-c">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a lang_from">Rely</div><div class="ui-block-b lang_to">Полагаься/Надеяться</div>
                    </fieldset>
                </li>
                <li class="ui-li ui-li-static ui-btn-up-c">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a lang_from">Recognize</div><div class="ui-block-b lang_to">Признавать/распозновать</div>
                    </fieldset>
                </li>
            <li class="ui-li ui-li-static ui-btn-up-c ui-corner-bottom ui-li-last">
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a lang_from">Best</div><div class="ui-block-b lang_to">Лучший</div>
                </fieldset>
            </li>
    </ul> 